| Story              | Criteria  | Issues Found  | Automated Tests  | Result        |
|--------------------|-----------|---------------|------------------|---------------|
| 1 Project setup    |   8       |   0           |   3              |     Accepted  |
| 2 Product list     |   5       |   1(low)      |   +2             |     Accepted  |